# Copy this file to .env and set your Postgres connection string
# Example local Postgres URL:
# DATABASE_URL="postgresql://postgres:password@localhost:5432/openbiz_db?schema=public"

DATABASE_URL=
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/openbiz?schema=public"
PORT=4000
